<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{37,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,62}}</string>
			<key>sourceSize</key>
			<string>{37,62}</string>
		</dict>
		<key>1.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,1},{42,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,58}}</string>
			<key>sourceSize</key>
			<string>{42,58}</string>
		</dict>
		<key>2.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,60},{38,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,61}}</string>
			<key>sourceSize</key>
			<string>{38,61}</string>
		</dict>
		<key>3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,64},{34,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,62}}</string>
			<key>sourceSize</key>
			<string>{34,62}</string>
		</dict>
		<key>4.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,1},{42,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,58}}</string>
			<key>sourceSize</key>
			<string>{42,58}</string>
		</dict>
		<key>5.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,122},{38,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,61}}</string>
			<key>sourceSize</key>
			<string>{38,61}</string>
		</dict>
		<key>TINYRUN.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,60},{645,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{645,107}}</string>
			<key>sourceSize</key>
			<string>{645,107}</string>
		</dict>
		<key>gameover.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,168},{542,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{542,84}}</string>
			<key>sourceSize</key>
			<string>{542,84}</string>
		</dict>
		<key>gameoverbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,253},{590,298}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{590,298}}</string>
			<key>sourceSize</key>
			<string>{590,298}</string>
		</dict>
		<key>getready.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,552},{414,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{414,65}}</string>
			<key>sourceSize</key>
			<string>{414,65}</string>
		</dict>
		<key>jump.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>leaderboard.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,253},{290,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,176}}</string>
			<key>sourceSize</key>
			<string>{290,176}</string>
		</dict>
		<key>menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,60},{201,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,72}}</string>
			<key>sourceSize</key>
			<string>{201,72}</string>
		</dict>
		<key>new.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,1},{81,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,36}}</string>
			<key>sourceSize</key>
			<string>{81,36}</string>
		</dict>
		<key>ok.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,168},{201,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,71}}</string>
			<key>sourceSize</key>
			<string>{201,71}</string>
		</dict>
		<key>play.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,618},{283,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,165}}</string>
			<key>sourceSize</key>
			<string>{283,165}</string>
		</dict>
		<key>rate.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,430},{178,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,103}}</string>
			<key>sourceSize</key>
			<string>{178,103}</string>
		</dict>
		<key>retry.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,60},{65,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,70}}</string>
			<key>sourceSize</key>
			<string>{65,70}</string>
		</dict>
		<key>share.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,168},{201,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,70}}</string>
			<key>sourceSize</key>
			<string>{201,70}</string>
		</dict>
		<key>tapl.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,1},{107,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,48}}</string>
			<key>sourceSize</key>
			<string>{107,48}</string>
		</dict>
		<key>tapr.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,1},{107,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,48}}</string>
			<key>sourceSize</key>
			<string>{107,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>type</key>
		<string>packer</string>
		<key>realTextureFileName</key>
		<string>tinyrunpack.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cfaf52eb1eb41c7531bf2d0be3f50f2e$</string>
		<key>textureFileName</key>
		<string>tinyrunpack.png</string>
	</dict>
</dict>
</plist>