<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>coin</key>
		<dict>
			<key>delay</key>
			<string>0.05</string>
			<key>frames</key>
			<array>
				<string>coins_0003_Layer-1.png</string>
				<string>coins_0002_Layer-2.png</string>
				<string>coins_0001_Layer-3.png</string>
				<string>coins_0000_Layer-4.png</string>
			</array>
		</dict>
	</dict>
	<key>textureFileName</key>
	<string>tinypack.plist</string>
</dict>
</plist>